body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}
.jumbotron {
    text-align:center;
    background-color:#0094ff
}
.jumbotron h1{
    font-size:53px;
    color:#fff;
}
.jumbotron p{
    color:#fff;
}
.jumbotron p a{
    color:#00ff90;
}